@import url("./fonts.css");
@import url("./colours.css");
@import url("./animations.css");

/* GLOBALS */

html {
  overflow: hidden;
}

h2 {
  font-size: 5rem;
}

.hide {
  display: none;
}
.show {
  display: flex;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.pink {
  color: var(--deeperPink);
}

button {
  color: var(--white)!important;
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  font-size: 2rem;
  line-height: 2rem;
  font-family: Workbench;
}

/* THE REST */

html::-webkit-scrollbar {
  width: 12px;
}
body {
  background-color: var(--deeperPink);
  margin: 0;
  padding: 0;
  color: white;

}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--deepBlue);
}
nav {
  height: 100vh;
  width: 100%;
  background-color: var(--deepBlue);
  position: fixed;
  flex-direction: column;
  z-index: 100;
  overflow: auto;
}

nav::-webkit-scrollbar-track {
  background: var(--deepBlue);
}

nav::-webkit-scrollbar-thumb {
  background-color: var(--deepPink);
  border-radius: 6px;
  border: 3px solid var(--deepBlue);
}

nav::-webkit-scrollbar-thumb:hover {
  background-color: var(--deeperPink);
}
nav p, nav ul{
  font-size: 2rem;
  line-height: 3rem;
}
nav form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  line-height: 3rem;
}
nav input[type="checkbox"]{
  transform: scale(2);
}
nav input[type="text"], nav input[type="email"] {
  height: 2rem;
}
#nav-header {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding: 1rem 5rem;
}
#nav-content {
  displaY: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  width: 50%;
}
nav h2 {
  font-size: 3rem;
}
.show-nav {
  display: flex;
}
#open-nav {
  box-shadow: none;
  margin: 0 auto 2rem auto;
}

#brand {
  font-size: 4rem;
  padding: 1rem 5rem;
}
#menu {
  padding: 1rem 5rem;
}
#header {
  background-color: var(--deepBlue);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}
#hero {
  display: flex;
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#hero-and-text {
  display: flex;
  flex-direction: row;
}
#hero-image {
  width: 80%;
  height: 80%;
  background: url("../img/champion.jpg") no-repeat top center / cover;
  border-radius: 100%;
  border: 1rem solid var(--deeperPink);
  box-shadow: var(--deepPink) 0 0 2.5rem 0;
  margin: 0 auto;
}
#hero-text {
  width: 100%;
  height: 100%;
  color: white;
  align-items: center;
}
#welcome {
  font-size: 4rem;
  font-weight: bold;
  line-height: 3rem;
  text-align: left;
  margin: 0 3rem;
}

#hero-text span:not(.blink) {
  display: flex;
  align-items: center;
  gap: 2px;
}

span.blink {
  display: inline;
}
.blink::after {
  content: "";
  width: 2rem;
  color: var(--deepBlue);
  height: 3.5rem;
  display: inline-block;
  background-color: var(--white);
  animation: cursor-blink 1.5s steps(2) infinite;
  vertical-align: middle;
  margin-left: -2px;
  position: relative;
}
#welcome-paragraph {
  font-size: 2rem;
  line-height: 3.5rem;
  margin: 3rem;
  text-align: left;
}
#subject-input {
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  font-size: 2.5rem;
  background-color: var(--deepBlue);
  text-align: center;
  border: 0.3rem solid var(--deeperPink);
  color: var(--white);
}
#subject-input {
  caret-color: var(--deepBlue);
  background-color: var(--deepBlue);
}
#subject-input::placeholder {
  color: var(--deeperPink);
}
#subject-input:focus::placeholder {
  color: white;
  border-color: white;
}
#subject-input:focus {
  outline: none;
  color: white;
}
#subject-input:active {
  color: white;
  border: 0.3rem solid var(--white);
  background-color: var(--deepBlue);
}
#subject-input:default {
  background-color: var(--deepBlue);
}
button {
  background-color: var(--deepBlue);
  color: var(--deeperPink);
  border: 0.3rem solid var(--deeperPink);
  padding: 1rem 2rem;
  cursor: pointer;
  box-shadow: 0 0 1rem 0 darkslateblue;
}
button:hover {
  box-shadow: 0 0 1.5rem 0 var(--deepPink);
}
#content {
  display: flex;
  flex-direction: column;
}

#image {
  width: 100%;
  height: 200vh;
  background: url("../img/trees.jpg") no-repeat top center fixed;
}

#section-two {
  height: 100vh;
  width: 100%;
  color: var(--white);
  text-align: left;
}

.section-content {
  width: 60%;
  margin: 0 auto;
  height: 100vh;
  color: var(--white);
  line-height: 8rem;
}

#number-of-questions {
  font-size: 4rem;
}
#number-of-questions {
  cursor: pointer;
}
#number-of-questions::after {
  content: "";
  width: 2rem;
  height: 3rem;
  display: inline-block;
  background-color: var(--deepBlue);
  animation: cursor-blink 1.5s steps(2) infinite;
}
#section-three {
  height: 100vh;
  width: 100%;
  text-align: left;
}
#players {
  display: flex;
  flex-direction: column;
}
#player-names {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}
#inputs input {
  background-color: var(--deepBlue);
  height: 4rem;
  color: var(--deeperPink);
  font-size: 3.5rem;
  cursor: pointer;
}
#inputs input::placeholder {
  color: var(--deeperPink);
}

#section-four {
  height: 100vh;
  width: 100%;
  text-align: left;
  flex-direction: column;
}

#section-five {
  height: 100vh;
  width: 100%;
  text-align: left;
  flex-direction: column;
}

#section-six {
  height: 100vh;
  width: 100%;
  text-align: left;
  flex-direction: column;
}

#section-seven {
  flex-direction: column;
  margin-bottom: 5rem;
  min-height: 100vh;
  overflow: scroll;
}

#section-seven ol, #section-seven ul {
  line-height: 2rem;
}

#section-seven li {
  list-style: none;
}

#leaderboard {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
#leaderboard li {
  font-size: 3rem;
  line-height: 4rem;
  margin: 0 2rem;
  list-style: none;
}

.question-number-marker {
  color: var(--deepPink);
}

.score {
  color: var(--deepPink);
}

.correct-answer {
  color: var(--deepGreen);
}

.incorrect-answer {
  color: var(--deepRed);
}

#modal {
  background-color: var(--deepBlue);
  color: var(--white);
  width: 85%;
  height: 80vh;
  position: fixed;
  bottom: -10%;
  left: 5%;
  box-shadow: var(--deepBlue) 0 1rem 1rem 0.5rem;
  border: 1rem solid var(--deeperPink);
  flex-direction: column;
  padding: 0 2rem;
}

#modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#close-modal {
  height: 5rem;
  padding: 0 2rem;
  margin-top: 3rem;
  font-weight: bold;
}

#errors-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--deepPink);
  color: var(--deepBlue);
}



/** BREAK POINTS **/

@media only screen and (min-width: 596px) {

  button {
    width: 31rem;
    height: 8rem;
    margin: 0 auto;
    background-color: var(--deeperPink);

  }
  #open-nav {
    margin-top: 3rem;
    color: var(--deepBlue);
  }
  #header {
    width: 80%;
  }
  #hero {
    padding: 5rem 0;
    width: 98%;
    display: flex;
  }
  #hero-and-text {
    flex-direction: column;
    height: auto;
  }
  #hero-text {
    width: 100%;
    height: 100%;
    margin: 2rem 3.5rem;
    color: white;
    align-items: center;
  }
  #hero-image {
    width: 50%;
    height: 80%;
    margin: 1rem 3.5rem;
  }
  #welcome {
    font-size: 9rem;
    line-height: 8rem;
    margin: 0 auto;
  }
  #welcome-paragraph {
    margin: auto;
    text-align: left;
  }
  #subject-input {
    width: 50%;
    height: 8rem;
  }
  nav {
    width: 65%;
  }
}
