@import url("./fonts.css");
@import url("./colours.css");
@import url("./animations.css");

/* GLOBALS */
h2 {
  font-size: 5rem;
}
.blink::after {
  content: "";
  width: 2rem;
  height: 3rem;
  display: inline-block;
  background-color: var(--deepBlue);
  animation: cursor-blink 1.5s steps(2) infinite;
}
.hide {
  display: none;
}
.show {
  display: flex;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
/* THE REST */


html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--deeperPink);
  margin: 0;
  padding: 0;
  color: white;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--deepBlue);
}
nav {
  height: 100vh;
  width: 100%;
  background-color: var(--deepBlue);
  position: fixed;
  flex-direction: column;
  z-index: 100;
  overflow: auto;
}
nav p, nav ul{
  font-size: 2rem;
  line-height: 3rem;
}
nav form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  line-height: 3rem;
}
nav input[type="checkbox"]{
  transform: scale(2);
}
nav input[type="text"], nav input[type="email"] {
  height: 2rem;
}
#nav-header {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding: 1rem 5rem;
}
#nav-content {
  displaY: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  width: 50%;
}
nav h2 {
  font-size: 3rem;
}
.show-nav {
  display: flex;
}
#open-nav {
  /*border: 0;*/
  box-shadow: none;
  width: 15%;
  margin: 2rem auto;
}

#brand {
  font-size: 4rem;
  padding: 1rem 5rem;
}
#menu {
  padding: 1rem 5rem;
}
#header {
  background-color: var(--deepBlue);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}
#hero {
  padding: 5rem 0;
  width: 98%;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#hero-image {
  width: 50%;
  height: 80%;
  margin: 1rem 3.5rem;
  background: url("../img/champion.jpg") no-repeat top center / cover;
  border-radius: 100%;
  border: 1rem solid var(--deeperPink);
  box-shadow: var(--deepPink) 0 0 2.5rem 0;
}
#hero-text {
  width: 100%;
  height: 100%;
  margin: 2rem 3.5rem;
  color: white;
  align-items: center;
}
#welcome {
  font-size: 5.5rem;
  font-weight: bold;
  line-height: 5rem;
}
#hero-text span {
  display: flex;
  align-items: center;
  gap: 2px;
}
#hero-text span:last-child::after {
  content: "";
  width: 2rem;
  height: 3rem;
  display: inherit;
  background-color: var(--white);
  animation: cursor-blink 1.5s steps(2) infinite;
}
#welcome-paragraph {
  font-size: 2rem;
  line-height: 3.5rem;
}
#subject-input {
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  font-size: 2.5rem;
  background-color: var(--deepBlue);
  text-align: center;
  border: 0.3rem solid var(--deeperPink);
  color: var(--white);
}
#subject-input {
  caret-color: var(--deepBlue);
  background-color: var(--deepBlue);
}
#subject-input::placeholder {
  color: var(--deeperPink);
}
#subject-input:focus::placeholder {
  color: white;
  border-color: white;
}
#subject-input:focus {
  outline: none;
  color: white;
}
#subject-input:active {
  color: white;
  border: 0.3rem solid var(--white);
  background-color: var(--deepBlue);
}
#subject-input:default {
  background-color: var(--deepBlue);
}
button {
  background-color: var(--deepBlue);
  color: var(--deeperPink);
  border: 0.3rem solid var(--deeperPink);
  padding: 1rem 2rem;
  cursor: pointer;
  box-shadow: 0 0 1rem 0 darkslateblue;
}
button:hover {
  box-shadow: 0 0 1.5rem 0 var(--deepPink);
}
#content {
  display: flex;
  flex-direction: column;
}
#section-one {
  background-color: var(--deeperPink);
}
#image {
  width: 100%;
  height: 200vh;
  background: url("../img/trees.jpg") no-repeat top center fixed;
}

#section-two {
  background-color: var(--deeperPink);
  height: 100vh;
  width: 100%;
  color: black;
  text-align: left;
}

.section-content {
  width: 60%;
  margin: 0 auto;
  line-height: 8rem;
  height: 100vh;
}
#number-of-players {
  font-size: 4rem;
}
#number-of-players {
  cursor: pointer;
}
#number-of-players::after {
  content: "";
  width: 2rem;
  height: 3rem;
  display: inline-block;
  background-color: var(--deepBlue);
  animation: cursor-blink 1.5s steps(2) infinite;
}
#section-three {
  background-color: var(--deeperPink);
  height: 100vh;
  width: 100%;
  color: black;
  text-align: left;
}
#players {
  display: flex;
  flex-direction: column;
}
#player-names {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}
#inputs input {
  background-color: var(--deepBlue);
  height: 4rem;
  color: var(--deeperPink);
  font-size: 3.5rem;
  cursor: pointer;
}
#inputs input::placeholder {
  color: var(--deeperPink);
}

#section-four {
  background-color: var(--deeperPink);
  height: 100vh;
  width: 100%;
  color: black;
  text-align: left;
  flex-direction: column;
}

#section-five {
  background-color: var(--deeperPink);
  height: 100vh;
  width: 100%;
  color: black;
  text-align: left;
  flex-direction: column;
}

#section-six {
  background-color: var(--deeperPink);
  height: 100vh;
  width: 100%;
  color: black;
  text-align: left;
  flex-direction: column;
}

#modal {
  background-color: var(--deepBlue);
  color: var(--white);
  width: 85%;
  height: 80vh;
  position: fixed;
  bottom: -10%;
  left: 5%;
  box-shadow: var(--deepBlue) 0 1rem 1rem 0.5rem;
  border: 1rem solid var(--deeperPink);
  flex-direction: column;
  padding: 0 2rem;
}

#modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#close-modal {
  height: 5rem;
  padding: 0 2rem;
  margin-top: 3rem;
  font-weight: bold;
}
